{% set article_show = path('app_article_show', {slug: article.slug}) %}

    <div class="actualites">
        <article class="news_items">
            {% if article.media != null %}
                <img src="{{url('home') }}build/assets/images/{{ article.media.fileName }}" alt="{{ article.media.alt }}">
            {% else %}
                <img src="{{ asset('build/assets/images/no-image.jpg') }}" alt="image non disponible">
            {% endif %}
            <div class="news_item_content">
                <p class="date_news">Publié le : {{ article.createdAt | date ('d-m-y') }}</p>
                <h3 class="titleH3">
                    <a href="{{ path('app_article_show', {slug: article.slug}) }}">{{ article.title }}</a>
                </h3>
                <p>{{ article.content| striptags | u.truncate(160, '...', false) | raw }}</p>
                <a class="date_news" href="{{ path('app_article_show', {slug: article.slug}) }}">LIRE LA SUITE</a>
                <div class="comments">
                    <a href="{{ path('app_article_show', {slug: article.slug}) }}">
                        <span>{{article.comments|length}} commentaire(s)</span>
                    </a>
                </div>
            </div>
        </article>
    </div>

