{% block body %}
    {% include 'flash_message/_flash_warning.html.twig' %}
    <div class="category__banner">
        <img src="{{ url('home') }}build/assets/images/{{ category.media.fileName }}" alt="{{ category.media.alt }}">
        <div class="category__banner--title">
            <h1>{{ category.label}}</h1>
        </div>
    </div>

    <section class="blog__list">
        <h2 class="titleH2">Les articles</h2>
        <div class="blog__content">
            <div class="blog__content--cards">
                {%  include 'article/_previewArticlesList.html.twig' %}
            </div>
        </div>
        {{ knp_pagination_render(articles) }}
    </section>
{% endblock %}
