{{ form_start(form) }}
    {{form_row(form.firstName)}}
    {{form_row(form.lastName)}}
    {{form_row(form.username)}}
    {{form_row(form.email)}}
    {{form_row(form.media)}}


{{ form_end(form) }}


{#<form action="">#}
{#    <input type="text"><input type="text"><input type="text"><input type="text">#}
{#    <button type="submit">aller#}
{#    </button>#}
{#</form>#}
